{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>
    <hr>
    <div class="grid">
        <article>
            <h4>My Fisrt article</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, libero!</p>
        </article>
        <article>
            <h4>My Second article</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem eum nemo!</p>
        </article>
    </div>
    <div>
        <article>
            {{ form(form) }}
        </article>
    </div>
{% endblock %}
