{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<div>
    <h1>Projet POC - Test Controller ✅</h1>
    <p><span>Message test send with RabbitMq</span></p>
</div>
{% endblock %}
